.auth-page-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* conteneur bloc login + lien */
.auth-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

/* lien inscription */
.register-link {
  text-align: center;
  color: #ccc;
  font-size: 15px;
}

.register-link a {
  color: #f1c40f;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;
}

.register-link a:hover {
  text-decoration: underline;
}
